In [813]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
from IPython.display import display, HTML
import time
import warnings

In [814]:
!pip install geopy

Requirement already satisfied: geopy in d:\new folder\lib\site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in d:\new folder\lib\site-packages (from geopy) (2.0)

In [815]:
df1=pd.read_csv(r"C:\Users\DELL\Downloads\zomato_data.csv")
df2=pd.read_csv(r"C:\Users\DELL\Downloads\Geographical Coordinates.csv")

In [816]:
df_z=df1.copy()
df_g=df2.copy()

## Data Understanding

df1 table
Column Name:Description
> online_order :Indicates if online ordering is available (Yes/No)

> book_table:Indicates if table booking is available (Yes/No)

> rate:Average rating (e.g., 4.1/5)

> votes:Number of votes received by the restaurant

> rest_type:Type of restaurant (e.g., Casual Dining, Quick Bites)

> dish_liked:Popular dishes liked by customers

> cuisines:Cuisines offered by the restaurant

> approx_costfor_two_people:Approximate cost for two people in INR

> listed_intype:Restaurant listing category (e.g., Buffet, Delivery)

> listed_incity:Local area in Bangalore where the restaurant is located

df2 table Column Name : Description
> listed_incity:Local area name (used for merging)
 
>Latitude:Latitude of the location

>Longitude:Longitude of the location

## Data Cleaning & Preprocessing

In [817]:
df_z

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity
0,Yes,Yes,4.1/5,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,Yes,No,4.1/5,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet,Banashankari
2,Yes,No,3.8/5,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,No,No,3.7/5,88,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet,Banashankari
4,No,No,3.8/5,166,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet,Banashankari
...,...,...,...,...,...,...,...,...,...,...
51712,No,No,3.6 /5,27,Bar,NaN,Continental,"1,500",Pubs and bars,Whitefield
51713,No,No,NaN,0,Bar,NaN,Finger Food,600,Pubs and bars,Whitefield
51714,No,No,NaN,0,Bar,NaN,Finger Food,"2,000",Pubs and bars,Whitefield
51715,No,Yes,4.3 /5,236,Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500",Pubs and bars,Whitefield
51716,No,No,3.4 /5,13,"Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental","1,500",Pubs and bars,Whitefield

## step1

In [818]:
df_z['rate']=df_z['rate'].replace('-',np.nan)

In [819]:
df_z['rate'].unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', 'NEW', '2.9/5', '3.5/5', nan, '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5',
       '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

In [820]:
df_z['rate']=df_z['rate'].str.split('/').str[0]

In [821]:
df_z['rate']=pd.to_numeric(df_z['rate'],errors='coerce')

In [822]:
df_z['rate'].unique()

array([4.1, 3.8, 3.7, 3.6, 4.6, 4. , 4.2, 3.9, 3.1, 3. , 3.2, 3.3, 2.8,
       4.4, 4.3, nan, 2.9, 3.5, 2.6, 3.4, 4.5, 2.5, 2.7, 4.7, 2.4, 2.2,
       2.3, 4.8, 4.9, 2.1, 2. , 1.8])

In [823]:
warnings.filterwarnings('ignore')

In [824]:
df_z['rate'].fillna(df_z['rate'].median(),inplace=True)

In [825]:
df_z['rate'].unique()

array([4.1, 3.8, 3.7, 3.6, 4.6, 4. , 4.2, 3.9, 3.1, 3. , 3.2, 3.3, 2.8,
       4.4, 4.3, 2.9, 3.5, 2.6, 3.4, 4.5, 2.5, 2.7, 4.7, 2.4, 2.2, 2.3,
       4.8, 4.9, 2.1, 2. , 1.8])

In [826]:
df_z

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity
0,Yes,Yes,4.1,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,Yes,No,4.1,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet,Banashankari
2,Yes,No,3.8,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,No,No,3.7,88,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet,Banashankari
4,No,No,3.8,166,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet,Banashankari
...,...,...,...,...,...,...,...,...,...,...
51712,No,No,3.6,27,Bar,NaN,Continental,"1,500",Pubs and bars,Whitefield
51713,No,No,3.7,0,Bar,NaN,Finger Food,600,Pubs and bars,Whitefield
51714,No,No,3.7,0,Bar,NaN,Finger Food,"2,000",Pubs and bars,Whitefield
51715,No,Yes,4.3,236,Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500",Pubs and bars,Whitefield
51716,No,No,3.4,13,"Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental","1,500",Pubs and bars,Whitefield

In [827]:
df_z['approx_costfor_two_people'].str.replace(',','')

0         800
1         800
2         800
3         300
4         600
         ...
51712    1500
51713     600
51714    2000
51715    2500
51716    1500
Name: approx_costfor_two_people, Length: 51717, dtype: object

In [828]:
df_z['approx_costfor_two_people']=pd.to_numeric(df_z['approx_costfor_two_people'],errors='coerce')

In [829]:
df_z['approx_costfor_two_people'].fillna(df_z['approx_costfor_two_people'].median(),inplace=True)

In [830]:
df_z['approx_costfor_two_people']

0        800.0
1        800.0
2        800.0
3        300.0
4        600.0
         ...
51712    400.0
51713    600.0
51714    400.0
51715    400.0
51716    400.0
Name: approx_costfor_two_people, Length: 51717, dtype: float64

## step3

In [831]:
df_z['dish_liked'].fillna("Not Available",inplace=True)

In [832]:
df_z['dish_liked']

0        Pasta, Lunch Buffet, Masala Papad, Paneer Laja...
1        Momos, Lunch Buffet, Chocolate Nirvana, Thai G...
2        Churros, Cannelloni, Minestrone Soup, Hot Choc...
3                                              Masala Dosa
4                                      Panipuri, Gol Gappe
                               ...
51712                                        Not Available
51713                                        Not Available
51714                                        Not Available
51715                         Cocktails, Pizza, Buttermilk
51716                                        Not Available
Name: dish_liked, Length: 51717, dtype: object

In [833]:
df_z['dish_liked'].unique()

array(['Pasta, Lunch Buffet, Masala Papad, Paneer Lajawab, Tomato Shorba, Dum Biryani, Sweet Corn Soup',
       'Momos, Lunch Buffet, Chocolate Nirvana, Thai Green Curry, Paneer Tikka, Dum Biryani, Chicken Biryani',
       'Churros, Cannelloni, Minestrone Soup, Hot Chocolate, Pink Sauce Pasta, Salsa, Veg Supreme Pizza',
       ...,
       'Noodles, Chicken Noodle, Momos, American Chopsuey, Salad, Manchow Soup, Manchurian',
       'Chicken Quesadilla, Naan, Breakfast Buffet, Cheesecake, Cocktails, Lunch Buffet, Biryani',
       'Biryani, Andhra Meal'], dtype=object)

df_z['cuisines'].fillna("Other",inplace=True)

In [834]:
df_z['cuisines'].isnull().sum()

45

In [835]:
df_z.loc[df_z['cuisines'].isna()]

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity
438,Yes,No,3.7,0,Quick Bites,Not Available,NaN,150.0,Delivery,Banashankari
440,Yes,No,3.3,4,Beverage Shop,Not Available,NaN,100.0,Delivery,Banashankari
759,Yes,No,3.7,0,Quick Bites,Not Available,NaN,150.0,Dine-out,Banashankari
1662,No,No,3.7,0,NaN,Not Available,NaN,400.0,Delivery,Bannerghatta Road
4037,Yes,No,3.7,0,"Beverage Shop, Quick Bites",Not Available,NaN,200.0,Delivery,Bellandur
6887,Yes,No,3.6,9,Delivery,Not Available,NaN,400.0,Delivery,Brookefield
6897,Yes,No,3.7,0,Delivery,Not Available,NaN,400.0,Delivery,Brookefield
7277,No,No,3.7,0,"Takeaway, Delivery",Not Available,NaN,400.0,Delivery,Brookefield
7555,Yes,No,3.7,0,Delivery,Not Available,NaN,500.0,Delivery,Brookefield
9874,No,No,3.7,0,NaN,Not Available,NaN,400.0,Delivery,BTM
13591,Yes,No,3.7,0,Delivery,Not Available,NaN,500.0,Delivery,Electronic City
13693,No,No,3.7,0,NaN,Not Available,NaN,400.0,Delivery,Electronic City
16351,No,No,3.7,0,NaN,Not Available,NaN,400.0,Delivery,HSR
22236,Yes,No,3.3,4,Beverage Shop,Not Available,NaN,100.0,Delivery,JP Nagar
22974,No,No,3.7,0,Delivery,Not Available,NaN,500.0,Delivery,JP Nagar
23385,No,No,3.7,0,Quick Bites,Not Available,NaN,400.0,Dine-out,JP Nagar
23399,No,No,3.7,0,Food Court,Not Available,NaN,400.0,Dine-out,JP Nagar
24725,Yes,No,3.3,24,Casual Dining,Not Available,NaN,600.0,Dine-out,Kalyan Nagar
26186,Yes,No,3.3,24,Casual Dining,Not Available,NaN,600.0,Dine-out,Kammanahalli
26432,No,No,3.7,0,NaN,Not Available,NaN,400.0,Dine-out,Kammanahalli
26519,No,No,3.7,0,NaN,Not Available,NaN,400.0,Buffet,Koramangala 4th Block
27672,No,No,3.7,0,NaN,Not Available,NaN,400.0,Delivery,Koramangala 4th Block
28611,No,No,3.7,0,NaN,Not Available,NaN,400.0,Dine-out,Koramangala 4th Block
29298,No,No,3.7,0,NaN,Not Available,NaN,400.0,Buffet,Koramangala 5th Block
30604,No,No,3.7,0,NaN,Not Available,NaN,400.0,Delivery,Koramangala 5th Block
31400,No,No,3.7,0,NaN,Not Available,NaN,400.0,Dine-out,Koramangala 5th Block
32131,No,No,3.7,0,NaN,Not Available,NaN,400.0,Buffet,Koramangala 6th Block
33457,No,No,3.7,0,NaN,Not Available,NaN,400.0,Delivery,Koramangala 6th Block
34755,No,No,3.7,0,NaN,Not Available,NaN,400.0,Buffet,Koramangala 7th Block
39171,No,No,3.6,31,Casual Dining,Not Available,NaN,400.0,Dine-out,Lavelle Road
40354,No,No,3.7,0,NaN,Not Available,NaN,400.0,Dine-out,Malleshwaram
40556,No,No,3.7,0,NaN,Not Available,NaN,400.0,Cafes,Marathahalli
40625,Yes,No,3.7,12,Delivery,Not Available,NaN,400.0,Delivery,Marathahalli
40640,Yes,No,3.7,0,Delivery,Not Available,NaN,400.0,Delivery,Marathahalli
40977,Yes,No,3.7,0,"Beverage Shop, Quick Bites",Not Available,NaN,200.0,Delivery,Marathahalli
41980,No,No,3.7,0,NaN,Not Available,NaN,400.0,Dine-out,Marathahalli
43169,No,No,3.4,4,Dessert Parlor,Not Available,NaN,400.0,Desserts,MG Road
45813,No,No,4.0,1137,Casual Dining,Not Available,NaN,400.0,Dine-out,Old Airport Road
46586,No,No,3.7,0,NaN,Not Available,NaN,400.0,Delivery,Rajajinagar
46609,No,No,3.7,0,NaN,Not Available,NaN,400.0,Delivery,Rajajinagar
46752,No,No,3.7,0,NaN,Not Available,NaN,400.0,Dine-out,Rajajinagar
47134,No,No,3.7,0,NaN,Not Available,NaN,400.0,Dine-out,Rajajinagar
50355,Yes,No,3.7,12,Delivery,Not Available,NaN,400.0,Delivery,Whitefield
50439,Yes,No,3.2,6,Delivery,Not Available,NaN,400.0,Delivery,Whitefield
50755,No,No,3.7,0,"Takeaway, Delivery",Not Available,NaN,400.0,Delivery,Whitefield

In [836]:
df_z['cuisines'].replace(['','nan','NaN',' '],np.nan,inplace=True)

In [837]:
df_z.loc[df_z['cuisines'].isnull()]

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity
438,Yes,No,3.7,0,Quick Bites,Not Available,NaN,150.0,Delivery,Banashankari
440,Yes,No,3.3,4,Beverage Shop,Not Available,NaN,100.0,Delivery,Banashankari
759,Yes,No,3.7,0,Quick Bites,Not Available,NaN,150.0,Dine-out,Banashankari
1662,No,No,3.7,0,NaN,Not Available,NaN,400.0,Delivery,Bannerghatta Road
4037,Yes,No,3.7,0,"Beverage Shop, Quick Bites",Not Available,NaN,200.0,Delivery,Bellandur
6887,Yes,No,3.6,9,Delivery,Not Available,NaN,400.0,Delivery,Brookefield
6897,Yes,No,3.7,0,Delivery,Not Available,NaN,400.0,Delivery,Brookefield
7277,No,No,3.7,0,"Takeaway, Delivery",Not Available,NaN,400.0,Delivery,Brookefield
7555,Yes,No,3.7,0,Delivery,Not Available,NaN,500.0,Delivery,Brookefield
9874,No,No,3.7,0,NaN,Not Available,NaN,400.0,Delivery,BTM
13591,Yes,No,3.7,0,Delivery,Not Available,NaN,500.0,Delivery,Electronic City
13693,No,No,3.7,0,NaN,Not Available,NaN,400.0,Delivery,Electronic City
16351,No,No,3.7,0,NaN,Not Available,NaN,400.0,Delivery,HSR
22236,Yes,No,3.3,4,Beverage Shop,Not Available,NaN,100.0,Delivery,JP Nagar
22974,No,No,3.7,0,Delivery,Not Available,NaN,500.0,Delivery,JP Nagar
23385,No,No,3.7,0,Quick Bites,Not Available,NaN,400.0,Dine-out,JP Nagar
23399,No,No,3.7,0,Food Court,Not Available,NaN,400.0,Dine-out,JP Nagar
24725,Yes,No,3.3,24,Casual Dining,Not Available,NaN,600.0,Dine-out,Kalyan Nagar
26186,Yes,No,3.3,24,Casual Dining,Not Available,NaN,600.0,Dine-out,Kammanahalli
26432,No,No,3.7,0,NaN,Not Available,NaN,400.0,Dine-out,Kammanahalli
26519,No,No,3.7,0,NaN,Not Available,NaN,400.0,Buffet,Koramangala 4th Block
27672,No,No,3.7,0,NaN,Not Available,NaN,400.0,Delivery,Koramangala 4th Block
28611,No,No,3.7,0,NaN,Not Available,NaN,400.0,Dine-out,Koramangala 4th Block
29298,No,No,3.7,0,NaN,Not Available,NaN,400.0,Buffet,Koramangala 5th Block
30604,No,No,3.7,0,NaN,Not Available,NaN,400.0,Delivery,Koramangala 5th Block
31400,No,No,3.7,0,NaN,Not Available,NaN,400.0,Dine-out,Koramangala 5th Block
32131,No,No,3.7,0,NaN,Not Available,NaN,400.0,Buffet,Koramangala 6th Block
33457,No,No,3.7,0,NaN,Not Available,NaN,400.0,Delivery,Koramangala 6th Block
34755,No,No,3.7,0,NaN,Not Available,NaN,400.0,Buffet,Koramangala 7th Block
39171,No,No,3.6,31,Casual Dining,Not Available,NaN,400.0,Dine-out,Lavelle Road
40354,No,No,3.7,0,NaN,Not Available,NaN,400.0,Dine-out,Malleshwaram
40556,No,No,3.7,0,NaN,Not Available,NaN,400.0,Cafes,Marathahalli
40625,Yes,No,3.7,12,Delivery,Not Available,NaN,400.0,Delivery,Marathahalli
40640,Yes,No,3.7,0,Delivery,Not Available,NaN,400.0,Delivery,Marathahalli
40977,Yes,No,3.7,0,"Beverage Shop, Quick Bites",Not Available,NaN,200.0,Delivery,Marathahalli
41980,No,No,3.7,0,NaN,Not Available,NaN,400.0,Dine-out,Marathahalli
43169,No,No,3.4,4,Dessert Parlor,Not Available,NaN,400.0,Desserts,MG Road
45813,No,No,4.0,1137,Casual Dining,Not Available,NaN,400.0,Dine-out,Old Airport Road
46586,No,No,3.7,0,NaN,Not Available,NaN,400.0,Delivery,Rajajinagar
46609,No,No,3.7,0,NaN,Not Available,NaN,400.0,Delivery,Rajajinagar
46752,No,No,3.7,0,NaN,Not Available,NaN,400.0,Dine-out,Rajajinagar
47134,No,No,3.7,0,NaN,Not Available,NaN,400.0,Dine-out,Rajajinagar
50355,Yes,No,3.7,12,Delivery,Not Available,NaN,400.0,Delivery,Whitefield
50439,Yes,No,3.2,6,Delivery,Not Available,NaN,400.0,Delivery,Whitefield
50755,No,No,3.7,0,"Takeaway, Delivery",Not Available,NaN,400.0,Delivery,Whitefield

In [838]:
df_z['cuisines'].fillna('Other',inplace=True)

In [839]:
df_z['cuisines'].isnull().sum()

0

In [840]:
df_z['rest_type'].isnull().sum()

227

In [841]:
df_z['rest_type'].replace(['nan','NaN','',' '],np.nan,inplace=True)

In [842]:
df_z['rest_type'].fillna('Unknown',inplace=True)

In [843]:
df_z['rest_type'].isnull().sum()

0

## step4

In [844]:
df_z['votes'].fillna(df_z['votes'].median(),inplace=True)

In [845]:
df_z['votes'].isnull().sum()

0

## step5

In [846]:
df_z['online_order']=df_z['online_order'].map({"Yes":1,"No":0})
df_z['book_table']=df_z['book_table'].map({"Yes":1,"No":0})

In [847]:
df_z

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity
0,1,1,4.1,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800.0,Buffet,Banashankari
1,1,0,4.1,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800.0,Buffet,Banashankari
2,1,0,3.8,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800.0,Buffet,Banashankari
3,0,0,3.7,88,Quick Bites,Masala Dosa,"South Indian, North Indian",300.0,Buffet,Banashankari
4,0,0,3.8,166,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600.0,Buffet,Banashankari
...,...,...,...,...,...,...,...,...,...,...
51712,0,0,3.6,27,Bar,Not Available,Continental,400.0,Pubs and bars,Whitefield
51713,0,0,3.7,0,Bar,Not Available,Finger Food,600.0,Pubs and bars,Whitefield
51714,0,0,3.7,0,Bar,Not Available,Finger Food,400.0,Pubs and bars,Whitefield
51715,0,1,4.3,236,Bar,"Cocktails, Pizza, Buttermilk",Finger Food,400.0,Pubs and bars,Whitefield
51716,0,0,3.4,13,"Bar, Casual Dining",Not Available,"Finger Food, North Indian, Continental",400.0,Pubs and bars,Whitefield

## step 6

In [848]:
df_z['rate'].dtype

dtype('float64')

In [849]:
df_z['rate']=df_z['rate'].astype(float)

In [850]:
df_z['votes'].dtype

dtype('int64')

In [851]:
df_z['approx_costfor_two_people'].dtype

dtype('float64')

In [852]:
df_z['approx_costfor_two_people']=df_z['approx_costfor_two_people'].astype(int)

In [853]:
df_z.describe()

,online_order,book_table,rate,votes,approx_costfor_two_people
count,51717.000000,51717.000000,51717.000000,51717.000000,51717.000000
mean,0.588665,0.124698,3.700362,283.697527,414.294623
std,0.492080,0.330379,0.395391,803.838853,180.524316
min,0.000000,0.000000,1.800000,0.000000,40.000000
25%,0.000000,0.000000,3.500000,7.000000,300.000000
50%,1.000000,0.000000,3.700000,41.000000,400.000000
75%,1.000000,0.000000,3.900000,198.000000,500.000000
max,1.000000,1.000000,4.900000,16832.000000,950.000000

In [854]:
df_z.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   online_order               51717 non-null  int64
 1   book_table                 51717 non-null  int64
 2   rate                       51717 non-null  float64
 3   votes                      51717 non-null  int64
 4   rest_type                  51717 non-null  object
 5   dish_liked                 51717 non-null  object
 6   cuisines                   51717 non-null  object
 7   approx_costfor_two_people  51717 non-null  int32
 8   listed_intype              51717 non-null  object
 9   listed_incity              51717 non-null  object
dtypes: float64(1), int32(1), int64(3), object(5)
memory usage: 3.7+ MB

In [855]:
df_z.isnull().sum()

online_order                 0
book_table                   0
rate                         0
votes                        0
rest_type                    0
dish_liked                   0
cuisines                     0
approx_costfor_two_people    0
listed_intype                0
listed_incity                0
dtype: int64

## merged dataset

In [856]:
df_m=pd.merge(df_z,df_g,on='listed_incity',how='left')
df_m

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity,Latitude,Longitude
0,1,1,4.1,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet,Banashankari,12.939333,77.553982
1,1,0,4.1,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet,Banashankari,12.939333,77.553982
2,1,0,3.8,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet,Banashankari,12.939333,77.553982
3,0,0,3.7,88,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet,Banashankari,12.939333,77.553982
4,0,0,3.8,166,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet,Banashankari,12.939333,77.553982
...,...,...,...,...,...,...,...,...,...,...,...,...
51712,0,0,3.6,27,Bar,Not Available,Continental,400,Pubs and bars,Whitefield,NaN,NaN
51713,0,0,3.7,0,Bar,Not Available,Finger Food,600,Pubs and bars,Whitefield,NaN,NaN
51714,0,0,3.7,0,Bar,Not Available,Finger Food,400,Pubs and bars,Whitefield,NaN,NaN
51715,0,1,4.3,236,Bar,"Cocktails, Pizza, Buttermilk",Finger Food,400,Pubs and bars,Whitefield,NaN,NaN
51716,0,0,3.4,13,"Bar, Casual Dining",Not Available,"Finger Food, North Indian, Continental",400,Pubs and bars,Whitefield,NaN,NaN

In [857]:
df_m.isnull().sum()

online_order                    0
book_table                      0
rate                            0
votes                           0
rest_type                       0
dish_liked                      0
cuisines                        0
approx_costfor_two_people       0
listed_intype                   0
listed_incity                   0
Latitude                     5580
Longitude                    5580
dtype: int64

In [858]:
df_m['Latitude'].fillna(df_m['Latitude'].median(),inplace=True)

In [859]:
df_m['Longitude'].fillna(df_m['Longitude'].median(),inplace=True)

In [860]:
df_m.isnull().sum()

online_order                 0
book_table                   0
rate                         0
votes                        0
rest_type                    0
dish_liked                   0
cuisines                     0
approx_costfor_two_people    0
listed_intype                0
listed_incity                0
Latitude                     0
Longitude                    0
dtype: int64

## visualizations and EDA findings

## question 1

In [861]:
df_z.shape

(51717, 10)

## question 2

In [862]:
df_z['has north indian'] = df_z['cuisines'].apply(lambda x: 'North Indian' if 'North Indian' in str(x) else 'Other')

In [863]:
df_z['has north indian']=df_z['cuisines'].apply(lambda x:'North Indian' if 'North Indian'in str(x) else 'other')

In [864]:
df_z

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity,has north indian
0,1,1,4.1,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet,Banashankari,North Indian
1,1,0,4.1,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet,Banashankari,North Indian
2,1,0,3.8,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet,Banashankari,other
3,0,0,3.7,88,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet,Banashankari,North Indian
4,0,0,3.8,166,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet,Banashankari,North Indian
...,...,...,...,...,...,...,...,...,...,...,...
51712,0,0,3.6,27,Bar,Not Available,Continental,400,Pubs and bars,Whitefield,other
51713,0,0,3.7,0,Bar,Not Available,Finger Food,600,Pubs and bars,Whitefield,other
51714,0,0,3.7,0,Bar,Not Available,Finger Food,400,Pubs and bars,Whitefield,other
51715,0,1,4.3,236,Bar,"Cocktails, Pizza, Buttermilk",Finger Food,400,Pubs and bars,Whitefield,other
51716,0,0,3.4,13,"Bar, Casual Dining",Not Available,"Finger Food, North Indian, Continental",400,Pubs and bars,Whitefield,North Indian

In [865]:
df_z.loc[df_z['has north indian']=='North Indian']

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity,has north indian
0,1,1,4.1,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet,Banashankari,North Indian
1,1,0,4.1,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet,Banashankari,North Indian
3,0,0,3.7,88,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet,Banashankari,North Indian
4,0,0,3.8,166,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet,Banashankari,North Indian
5,1,0,3.8,286,Casual Dining,"Onion Rings, Pasta, Kadhai Paneer, Salads, Sal...",North Indian,600,Buffet,Banashankari,North Indian
...,...,...,...,...,...,...,...,...,...,...,...
51706,0,0,3.7,27,Pub,Not Available,"North Indian, Continental",400,Pubs and bars,Whitefield,North Indian
51708,0,0,2.8,161,"Casual Dining, Bar","Salads, Coffee, Breakfast Buffet, Halwa, Chick...","Chinese, Continental, North Indian",400,Pubs and bars,Whitefield,North Indian
51709,0,0,3.7,34,"Casual Dining, Bar",Not Available,"North Indian, Continental",800,Pubs and bars,Whitefield,North Indian
51711,0,0,2.5,81,"Casual Dining, Bar","Biryani, Andhra Meal","Andhra, South Indian, Chinese, North Indian",800,Pubs and bars,Whitefield,North Indian
51716,0,0,3.4,13,"Bar, Casual Dining",Not Available,"Finger Food, North Indian, Continental",400,Pubs and bars,Whitefield,North Indian

## question 3

In [866]:
df_z['cuisines']

0                North Indian, Mughlai, Chinese
1                   Chinese, North Indian, Thai
2                        Cafe, Mexican, Italian
3                    South Indian, North Indian
4                      North Indian, Rajasthani
                          ...
51712                               Continental
51713                               Finger Food
51714                               Finger Food
51715                               Finger Food
51716    Finger Food, North Indian, Continental
Name: cuisines, Length: 51717, dtype: object

In [867]:
df_z['has south indian']=df_z['cuisines'].apply(lambda x:'South Indian' if 'South Indian' in str(x) else 'other')

In [868]:
df_z['cuisines']

0                North Indian, Mughlai, Chinese
1                   Chinese, North Indian, Thai
2                        Cafe, Mexican, Italian
3                    South Indian, North Indian
4                      North Indian, Rajasthani
                          ...
51712                               Continental
51713                               Finger Food
51714                               Finger Food
51715                               Finger Food
51716    Finger Food, North Indian, Continental
Name: cuisines, Length: 51717, dtype: object

In [869]:
df_z

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity,has north indian,has south indian
0,1,1,4.1,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet,Banashankari,North Indian,other
1,1,0,4.1,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet,Banashankari,North Indian,other
2,1,0,3.8,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet,Banashankari,other,other
3,0,0,3.7,88,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet,Banashankari,North Indian,South Indian
4,0,0,3.8,166,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet,Banashankari,North Indian,other
...,...,...,...,...,...,...,...,...,...,...,...,...
51712,0,0,3.6,27,Bar,Not Available,Continental,400,Pubs and bars,Whitefield,other,other
51713,0,0,3.7,0,Bar,Not Available,Finger Food,600,Pubs and bars,Whitefield,other,other
51714,0,0,3.7,0,Bar,Not Available,Finger Food,400,Pubs and bars,Whitefield,other,other
51715,0,1,4.3,236,Bar,"Cocktails, Pizza, Buttermilk",Finger Food,400,Pubs and bars,Whitefield,other,other
51716,0,0,3.4,13,"Bar, Casual Dining",Not Available,"Finger Food, North Indian, Continental",400,Pubs and bars,Whitefield,North Indian,other

In [870]:
df_z['has biryani']=df_z['cuisines'].apply(lambda x:'biryani' if 'biryani'in str(x) else 'others')

In [871]:
df_z

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity,has north indian,has south indian,has biryani
0,1,1,4.1,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet,Banashankari,North Indian,other,others
1,1,0,4.1,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet,Banashankari,North Indian,other,others
2,1,0,3.8,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet,Banashankari,other,other,others
3,0,0,3.7,88,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet,Banashankari,North Indian,South Indian,others
4,0,0,3.8,166,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet,Banashankari,North Indian,other,others
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51712,0,0,3.6,27,Bar,Not Available,Continental,400,Pubs and bars,Whitefield,other,other,others
51713,0,0,3.7,0,Bar,Not Available,Finger Food,600,Pubs and bars,Whitefield,other,other,others
51714,0,0,3.7,0,Bar,Not Available,Finger Food,400,Pubs and bars,Whitefield,other,other,others
51715,0,1,4.3,236,Bar,"Cocktails, Pizza, Buttermilk",Finger Food,400,Pubs and bars,Whitefield,other,other,others
51716,0,0,3.4,13,"Bar, Casual Dining",Not Available,"Finger Food, North Indian, Continental",400,Pubs and bars,Whitefield,North Indian,other,others

In [872]:
df_z['has bakery & deserts']=df_z['cuisines'].apply(lambda x:'bakery,deserts' if 'bakery,deserts' in str(x) else 'others')

In [873]:
df_z.drop(['has bakery & deserts'],axis=1,inplace=True)

In [874]:
df_z['has_bakery_desserts'] = df_z['cuisines'].apply(
    lambda x: 'Bakery & Desserts' if 'bakery' in str(x).lower() and 'dessert' in str(x).lower() else 'Others'
)

In [875]:
df_z

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity,has north indian,has south indian,has biryani,has_bakery_desserts
0,1,1,4.1,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet,Banashankari,North Indian,other,others,Others
1,1,0,4.1,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet,Banashankari,North Indian,other,others,Others
2,1,0,3.8,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet,Banashankari,other,other,others,Others
3,0,0,3.7,88,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet,Banashankari,North Indian,South Indian,others,Others
4,0,0,3.8,166,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet,Banashankari,North Indian,other,others,Others
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51712,0,0,3.6,27,Bar,Not Available,Continental,400,Pubs and bars,Whitefield,other,other,others,Others
51713,0,0,3.7,0,Bar,Not Available,Finger Food,600,Pubs and bars,Whitefield,other,other,others,Others
51714,0,0,3.7,0,Bar,Not Available,Finger Food,400,Pubs and bars,Whitefield,other,other,others,Others
51715,0,1,4.3,236,Bar,"Cocktails, Pizza, Buttermilk",Finger Food,400,Pubs and bars,Whitefield,other,other,others,Others
51716,0,0,3.4,13,"Bar, Casual Dining",Not Available,"Finger Food, North Indian, Continental",400,Pubs and bars,Whitefield,North Indian,other,others,Others

In [876]:
df_z['has_bakery_desserts'].loc[df_z['has_bakery_desserts']=='bakery,deserts'].count()

0

In [877]:
df_z.columns

Index(['online_order', 'book_table', 'rate', 'votes', 'rest_type',
       'dish_liked', 'cuisines', 'approx_costfor_two_people', 'listed_intype',
       'listed_incity', 'has north indian', 'has south indian', 'has biryani',
       'has_bakery_desserts'],
      dtype='object')

In [878]:
cuisine_cols = ['has north indian', 'has south indian', 'has biryani', 'has_bakery_desserts']

for col in cuisine_cols:
    count =( ~df_z[col].isin(['Others', 'other', 'others'])).sum()
    print(f"{col}:{count}")

has north indian:21085
has south indian:8644
has biryani:0
has_bakery_desserts:1510

In [879]:
df_z['has north indian'].unique()

array(['North Indian', 'other'], dtype=object)

In [880]:
df_z['has north indian'].unique()

array(['North Indian', 'other'], dtype=object)

In [881]:
df_z['has biryani'].unique()

array(['others'], dtype=object)

In [882]:
df_z['has_bakery_desserts'].unique()

array(['Others', 'Bakery & Desserts'], dtype=object)

In [883]:
df_z

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity,has north indian,has south indian,has biryani,has_bakery_desserts
0,1,1,4.1,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet,Banashankari,North Indian,other,others,Others
1,1,0,4.1,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet,Banashankari,North Indian,other,others,Others
2,1,0,3.8,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet,Banashankari,other,other,others,Others
3,0,0,3.7,88,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet,Banashankari,North Indian,South Indian,others,Others
4,0,0,3.8,166,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet,Banashankari,North Indian,other,others,Others
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51712,0,0,3.6,27,Bar,Not Available,Continental,400,Pubs and bars,Whitefield,other,other,others,Others
51713,0,0,3.7,0,Bar,Not Available,Finger Food,600,Pubs and bars,Whitefield,other,other,others,Others
51714,0,0,3.7,0,Bar,Not Available,Finger Food,400,Pubs and bars,Whitefield,other,other,others,Others
51715,0,1,4.3,236,Bar,"Cocktails, Pizza, Buttermilk",Finger Food,400,Pubs and bars,Whitefield,other,other,others,Others
51716,0,0,3.4,13,"Bar, Casual Dining",Not Available,"Finger Food, North Indian, Continental",400,Pubs and bars,Whitefield,North Indian,other,others,Others

## question 4

In [884]:
df_z.groupby(by=['listed_incity'])['approx_costfor_two_people'].mean().sort_values(ascending=False)

listed_incity
Brookefield              426.159420
Kalyan Nagar             424.064171
Koramangala 4th Block    423.886290
Bellandur                423.830481
Sarjapur Road            423.758921
HSR                      423.561172
Brigade Road             422.046354
MG Road                  421.733849
Whitefield               420.469136
Church Street            420.087575
Indiranagar              419.478495
Kammanahalli             419.337848
Koramangala 6th Block    417.727793
Lavelle Road             416.604931
Marathahalli             416.570223
Residency Road           414.912963
Old Airport Road         413.628070
Koramangala 5th Block    413.025388
Koramangala 7th Block    412.876106
Jayanagar                411.455082
BTM                      410.691979
Frazer Town              409.215190
Bannerghatta Road        409.146568
JP Nagar                 406.827290
Malleshwaram             405.310219
Electronic City          402.416599
New BEL Road             399.189189
Basavanagudi             396.444708
Rajajinagar              381.881372
Banashankari             381.041715
Name: approx_costfor_two_people, dtype: float64

## question 5

In [885]:
df_z.loc[df_z['votes']>1000,['rest_type']].value_counts().sort_values(ascending=False)

rest_type
Casual Dining                  1213
Cafe                            406
Casual Dining, Bar              406
Pub                             174
Quick Bites                     134
Bar, Casual Dining              129
Lounge                          121
Casual Dining, Cafe             117
Bar                              83
Pub, Casual Dining               82
Pub, Microbrewery                66
Casual Dining, Pub               57
Microbrewery, Casual Dining      54
Cafe, Casual Dining              54
Dessert Parlor, Cafe             51
Dessert Parlor                   49
Casual Dining, Microbrewery      42
Microbrewery, Pub                42
Pub, Cafe                        40
Fine Dining                      33
Delivery                         29
Lounge, Casual Dining            28
Bakery, Cafe                     26
Microbrewery                     24
Cafe, Dessert Parlor             23
Quick Bites, Dessert Parlor      17
Club                             17
Lounge, Cafe                     16
Lounge, Microbrewery             16
Casual Dining, Irani Cafee       15
Fine Dining, Lounge              14
Pub, Bar                         13
Microbrewery, Bar                13
Sweet Shop                       10
Bar, Quick Bites                  9
Microbrewery, Lounge              9
Cafe, Bakery                      8
Takeaway, Delivery                6
Bakery                            2
Name: count, dtype: int64

## question 6

In [886]:
df_z['approx_costfor_two_people'].describe()

count    51717.000000
mean       414.294623
std        180.524316
min         40.000000
25%        300.000000
50%        400.000000
75%        500.000000
max        950.000000
Name: approx_costfor_two_people, dtype: float64

## question 7

In [887]:
df_z.head(2)

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity,has north indian,has south indian,has biryani,has_bakery_desserts
0,1,1,4.1,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet,Banashankari,North Indian,other,others,Others
1,1,0,4.1,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet,Banashankari,North Indian,other,others,Others

In [888]:
a=df_z.loc[(df_z['online_order']==1 )].shape[0]

In [889]:
b=df_z.loc[(df_z['online_order']==1 ) & (df_z['listed_incity']=='Banashankari')].shape[0]

In [890]:
(b/a)*100

1.7934568387859677

## question 8

In [891]:
a=df_z.loc[(df_z['votes']>500) & ( df_z['rate']<3),['listed_incity']]
count_by_locality=a['listed_incity'].value_counts()
count_by_locality

listed_incity
Brookefield              8
Whitefield               6
Indiranagar              4
Old Airport Road         4
Bellandur                3
Marathahalli             3
Banashankari             2
Koramangala 4th Block    2
Koramangala 5th Block    2
Koramangala 6th Block    2
Koramangala 7th Block    2
Sarjapur Road            2
HSR                      1
Kalyan Nagar             1
Kammanahalli             1
Name: count, dtype: int64

## question 9

In [892]:
df_z.groupby(by=['listed_incity'])[['rest_type']].nunique().sort_values(by='listed_incity',ascending=False)

                       rest_type
listed_incity
Whitefield                    54
Sarjapur Road                 45
Residency Road                57
Rajajinagar                   46
Old Airport Road              50
New BEL Road                  35
Marathahalli                  44
Malleshwaram                  47
MG Road                       59
Lavelle Road                  59
Koramangala 7th Block         58
Koramangala 6th Block         59
Koramangala 5th Block         58
Koramangala 4th Block         59
Kammanahalli                  42
Kalyan Nagar                  42
Jayanagar                     53
JP Nagar                      49
Indiranagar                   56
HSR                           50
Frazer Town                   51
Electronic City               35
Church Street                 61
Brookefield                   50
Brigade Road                  61
Bellandur                     49
Basavanagudi                  40
Bannerghatta Road             47
Banashankari                  37
BTM                           62

## question 10

In [893]:
df_z.head(2)

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity,has north indian,has south indian,has biryani,has_bakery_desserts
0,1,1,4.1,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet,Banashankari,North Indian,other,others,Others
1,1,0,4.1,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet,Banashankari,North Indian,other,others,Others

In [894]:
a=df_z.loc[(df_z['listed_intype']=='Buffet'),'approx_costfor_two_people'].mean()
b=df_z.loc[(df_z['listed_intype']=='Delivery'),'approx_costfor_two_people'].mean()
a-b

77.25765841504796

## question 11`

In [895]:
df_z.loc[df_z['online_order']==1,'votes'].max()

16832

## question 12

In [896]:
df_z['north_chinese']=df_z['cuisines'].apply(lambda x:'north,chinese' if 'North Indian' in  str(x)  and 'Chinese' in str(x) else 'others')

In [898]:
df_z.loc[(df_z['north_chinese']=='north,chinese')]['rate'].mean()

3.5919080217658412

## question 13

In [899]:
df_z.head(1)

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity,has north indian,has south indian,has biryani,has_bakery_desserts,north_chinese
0,1,1,4.1,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet,Banashankari,North Indian,other,others,Others,"north,chinese"

 Potential Revenue per Restaurant or per Order =
(Total revenue from that area / Number of restaurants or orders) Ã— 100

In [910]:
df_z['potential_revenue'] = df_z['votes'] * df_z['approx_costfor_two_people']
most_profitable_area = df_z.groupby('listed_incity')['potential_revenue'].sum().sort_values(ascending=False)
most_profitable_area.head(10)

listed_incity
Koramangala 7th Block    548111010
Koramangala 5th Block    534647290
Koramangala 4th Block    520416410
Koramangala 6th Block    512919850
BTM                      509965330
Indiranagar              374310330
MG Road                  339984870
Church Street            321347220
Brigade Road             304471720
Jayanagar                295221250
Name: potential_revenue, dtype: int64

## question 14

In [908]:
df_z.loc[(df_z['votes'] > 500) & (df_z['rate'] < 3), ['rest_type']].value_counts()

rest_type
Casual Dining           27
Dessert Parlor, Cafe     8
Quick Bites              8
Name: count, dtype: int64

## question 15

In [909]:
df_z.loc[(df_z['rate']>4.2 )& (df_z['votes']>500) & (df_z['online_order']==1),['listed_incity']].value_counts()

listed_incity
MG Road                  97
Koramangala 7th Block    97
Koramangala 4th Block    95
Church Street            95
Brigade Road             94
Koramangala 5th Block    92
BTM                      91
Koramangala 6th Block    90
Lavelle Road             82
Residency Road           81
Indiranagar              80
Old Airport Road         64
Frazer Town              56
Jayanagar                56
Bellandur                55
Whitefield               44
Sarjapur Road            43
HSR                      41
JP Nagar                 38
Brookefield              34
Marathahalli             32
Malleshwaram             31
Basavanagudi             24
Kalyan Nagar             23
Kammanahalli             23
Rajajinagar              22
Bannerghatta Road        19
Banashankari             11
New BEL Road              9
Electronic City           7
Name: count, dtype: int64

##  Geospatial Visualization Task

## Cuisine-Specific Map â€“ Italian Restaurants

In [ ]:
!pip install folium

In [ ]:
!pip install IPython

In [ ]:
df_m

In [ ]:
from folium.plugins import MarkerCluster
import folium
from IPython.display import IFrame

In [901]:
italian_df=df_m[df_m['cuisines'].str.contains('Italian',na=False)]
map4=folium.Map(location=[12.9716,77.5946],zoom_start=12)
for i , row in italian_df.iterrows():
    folium.Marker(
        location=[row['Latitude'],row['Longitude']],
        popup=f"{row['listed_incity']}<br>Cuisine: {row['cuisines']}",
        icon=folium.Icon(color='purple')
    ).add_to(map4)
map4.save("italian_spots_map.html")

In [903]:
IFrame('italian_spots_map.html',width=1000,height=800)

## Interactive Restaurant Density Mapping using Folium with Marker Clustering

In [906]:
map1 = folium.Map(location=[12.9716,77.5946], zoom_start=12)

marker_cluster=MarkerCluster().add_to(map1)

for i , row in df_m.iterrows():
    if not pd.isna(row['Latitude']) and not pd.isna(row['Longitude']):
        folium.Marker(
            location=[row['Latitude'],row['Longitude']],
                      popup=f"{row['listed_incity']}<br>Rating:{row['rate']}<br>Cost: {row['approx_costfor_two_people']}",
                      ).add_to(marker_cluster)
map1.save('restaurant_density.html')

In [907]:
IFrame('restaurant_density.html',width=1000,height=800)